@charset "UTF-8";

.header {

	background-color: 008080;
	height: 90px;

}

.header-logo {

	color: #f0fff0;
	float: left;
	font-family: Serif;
	padding: 20px 40px;

}

.header-list li {

	list-style: none;
	color: #f0fff0;
	float: left;
	font-family: Serif;
	padding: 33px 20px;

}

.main {

	background-color: #f5fffa;
	height: 600px;

}

h1 {

	color: #2f4f4f;
	font-size: 40px;
	font-family: Serif;

}

p {

	color: #2f4f4f;
	font-size: 20px;
	font-family: Serif;

}

.footer {

	background-color: #2f4f4f;
	height: 270px;

}

.footer-logo {

	float: left;
	font-family: Serif;

}

.footer-list li {

	list-style: none;
	float: right;
	font-family: Serif;

}
