@charset "UTF-8";

.header {

	background-color: #008080;
	height: 90px;

}

.header-logo {

	color: #f0fff0;
	float: left;
	font-size: 36px;
	font-family: Serif;
	padding: 20px 40px;

}

.header-list li {

	list-style: none;
	color: #f0fff0;
	float: left;
	font-size: 20px;
	font-family: Serif;
	padding: 33px 20px;

}

.main {

	background-color: #f5fffa;
	padding: 100px 80px;

}

h1 {

	color: #2f4f4f;
	font-size: 40px;
	font-family: Serif;

}

span {

	color: #008080;
	font-size: 40px;
	font-family: Serif;

}

p {

	color: #2f4f4f;
	font-size: 20px;
	font-family: Serif;

}

.section-title {

	height: 500px;
	color: #2f4f4f;
	font-size: 24px;
	font-family: Serif;
	border-bottom: 2px solid #2f4f4f;

}

.contents-item {

	float: left;

}

.footer {

	background-color: #2f4f4f;
	height: 270px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.footer-logo {

	color: #f0fff0;
	float: left;
	font-size: 32px;
	font-family: Serif;
	padding: 40px;

}

.footer-list ul {

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

}

.footer-list li {

	color: #f0fff0;
	list-style: none;
	font-size: 20px;
	font-family: Serif;
	padding: 20px;

}
